# Compiled Object files
Release
Release+Asserts
Output

cscope.*
Makefile.config
.*
config.*
test/testrun.*
docs/doxygen.cfg
docs/doxygen

!.gitignore

*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*~
llvm-2.9/
setup-llvm-2.9-env.sh
stp-r940.tar.bz2
klee/runtime/Makefile
klee/unittests/Makefile

