# Compiled Object files
Release
Release+Asserts
Output

cscope.*
Makefile.config
.*
config.*
test/testrun.*
docs/doxygen.cfg
docs/doxygen

!.gitignore

*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a